<!-- Barra propia -->
      <!-- navbar hace flex, flex-wrap, justify-content: space-between -->
      <!-- navbar-expand-md esta diciendo que aplique los estilos de ventanas chicas HASTA medianas (md) INCLUSIVE, cuando supera la medida mediana ya no aplica los estilos-->
      <nav class="navbar navbar-dark navbar-expand-md bg-dark bg-gradient ps-3 pe-3 | container-fluid sticky-top">
        <a class="navbar-brand" href="">Consultora ML</a>
        <button class="navbar-toggler navbar-toggler-icon border-0" data-bs-toggle="collapse" data-bs-target=".navbar-nav"></button>
        <ul class="navbar-nav navbar-collapse collapse ">
            <li class="nav-item"><a class="nav-link" href="">Inicio</a></li>
            <li class="nav-item"><a class="nav-link active" href="#acerca">Nosotros</a></li>
            <li class="nav-item"><a class="nav-link disabled" href="galeria.html">Portfolio</a></li>
            <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
        </ul>
      </nav>
